html{
    width:100%;
    height:100%;
}

body{
    width:100%;
    height:100%;
    margin:auto;
}


#margo{
    float:left;
    width:20%;
    height:100%;
    background-color:#353B3A;
    text-align: center;
}

#margo img{
    width:80%;
    height:80%;
}

#headerleft{
    padding-left:1%;
    float:left;
    font-size:20px;
    height:80px;
    line-height: 80px;
}

#headerRight{
    padding-right:1%;
    text-align:center;
    font-size:15px;
    float:right;
    height:80px;
    line-height: 80px;
}

#headerRight a{
    color:black;
    text-decoration:none;
}

#header {
    float:right;
    width:100%;
    height: 80px;
    background-color: #BCBBBB;
}

.left {
    padding:1%;
    font-size:15px;
    float: left;
    width: 18%;
    height: 74%;
    background-color: #BCBBBB;
}

.center {
    float: left;
    padding:1%;
}

.left a{
    text-decoration:none;
    color:black;
}

footer{
    color:white;
    clear:both;
    width:100%;
    height: 80px;
    background-color: #353B3A;
}
